# Préparation des Données

## Imports

In [57]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

## Netoyage des données

In [60]:
dfList = []
for an in range(2019, 2021) :
    # Lecture datasets
    print(an)
    df1 = pd.read_csv("data/usagers-"+ str(an) +".csv", sep=';')
    df2 = pd.read_csv("data/lieux-"+ str(an) +".csv", sep=';')
    df3 = pd.read_csv("data/caracteristiques-" + str(an) + ".csv", sep=';', encoding='ISO-8859-1')
    df4 = pd.read_csv("data/vehicules-"+ str(an) +".csv", sep=';')

    df4 = df4.drop(columns=['id_vehicule', 'num_veh'])


    df = df1.join(df2.set_index('Num_Acc'), on='Num_Acc')
    df = df.join(df3.set_index('Num_Acc'), on='Num_Acc')
    df = df.join(df4.set_index('Num_Acc'), on='Num_Acc', lsuffix='_')

    allColumns = list(df.columns)
    allColumns.remove('Num_Acc')
    allColumns.remove('atm')
    allColumns.remove('lat')
    allColumns.remove('long')
    allColumns.remove('vma')
    allColumns.remove('grav')
    allColumns.remove('com')
    allColumns.remove('dep')
    allColumns.remove('lum')
    allColumns.remove('an')
    allColumns.remove('jour')
    allColumns.remove('mois')
    allColumns.remove('agg')
    allColumns.remove('adr')
    allColumns.remove('id_vehicule')
    allColumns.remove('place')
    len(allColumns)

    # Suppression colonnes inutiles
    df = df.drop(columns=allColumns)

    # retire les doublons dans les usagers
    df = df.drop_duplicates(subset=['id_vehicule', 'place'], keep='first')


    dfList.append(df[df['grav'] == 2])

2019
2020

In [66]:
for an in range(2021, 2023) :
    # Lecture datasets
    print(an)
    df1 = pd.read_csv("data/usagers-"+ str(an) +".csv", sep=';')
    df2 = pd.read_csv("data/lieux-"+ str(an) +".csv", sep=';')
    df3 = pd.read_csv("data/caracteristiques-" + str(an) + ".csv", sep=';', encoding='ISO-8859-1')
    df4 = pd.read_csv("data/vehicules-"+ str(an) +".csv", sep=';')

    df4 = df4.drop(columns=['id_vehicule', 'num_veh'])

    df = df1.join(df2.set_index('Num_Acc'), on='Num_Acc')
    df = df.join(df3.set_index('Num_Acc'), on='Num_Acc')
    df = df.join(df4.set_index('Num_Acc'), on='Num_Acc', lsuffix='_')

    allColumns = list(df.columns)
    allColumns.remove('Num_Acc')
    allColumns.remove('atm')
    allColumns.remove('lat')
    allColumns.remove('long')
    allColumns.remove('vma')
    allColumns.remove('grav')
    allColumns.remove('com')
    allColumns.remove('dep')
    allColumns.remove('lum')
    allColumns.remove('an')
    allColumns.remove('jour')
    allColumns.remove('mois')
    allColumns.remove('agg')
    allColumns.remove('adr')
    allColumns.remove('id_usager')

    len(allColumns)

    # Suppression colonnes inutiles
    df = df.drop(columns=allColumns)

    # retire les doublons dans les usagers
    df = df.drop_duplicates(subset=['id_usager'], keep='first')


    dfList.append(df[df['grav'] == 2])

2021
2022

C:\Users\Yannis\AppData\Local\Temp\ipykernel_37184\3588766275.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("data/lieux-"+ str(an) +".csv", sep=';')

In [72]:
df= pd.concat(dfList, ignore_index=True)
df = df.drop(columns=['id_vehicule', 'place', 'id_usager'])
df

,Num_Acc,grav,vma,jour,mois,an,lum,dep,com,agg,atm,adr,lat,long
0,201900000024,2,50,29,11,2019,5,91,91477,2,2,HENRI BARBUSSE (RUE),"48,7188940","2,2606100"
1,201900000048,2,50,29,11,2019,2,50,50129,2,1,CALIGNY (QUAI DE),"49,6398800","-1,6213700"
2,201900000052,2,50,29,11,2019,3,38,38179,1,3,Avenue de la Combe,"45,1688800","5,7934900"
3,201900000082,2,80,22,9,2019,3,74,74145,1,1,Route de la FrontiÃ¨re,"46,2154615","6,2770041"
4,201900000122,2,50,19,9,2019,2,91,91687,2,1,GENERAL DE GAULLE (AVENUE DU),"48,6757000","2,3855300"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12975,202200055292,2,50,1,1,2022,5,18,18190,2,1,7 Route de Vierzon,"47,1352500000","2,1552140000"
12976,202200055295,2,110,2,1,2022,3,988,98803,1,1,RT1 - Col des arabes,"-21,6590100000","165,5346000000"
12977,202200055298,2,80,1,1,2022,3,2B,2B293,1,1,D71,"42,3101650000","9,4785830000"
12978,202200055299,2,80,1,1,2022,3,84,84074,1,1,D973,"43,7531640000","5,2244760000"
12979,202200055300,2,80,1,1,2022,3,74,74001,1,9,D22,"46,2825320000","6,7328060000"